@model ACDemo2.UserInfo

@{
    ViewBag.Title = "Please Login Here to access your account.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="form-horizontal">

    <form method="post" action="@Url.Action("Login", "Home")">
        <div class="form-group">
            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.passwordHash, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.passwordHash, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                @Html.ValidationMessageFor(model => model.passwordHash, "", new { @class = "text-danger" })
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Log In" class="btn btn-default" />
                    &nbsp;
                    @Html.ActionLink("Cancel", "Index", "Home")
                </div>
            </div>
        </div>
    </form>
</div>